@model System.Web.Mvc.HandleErrorInfo

@using Resources

@{
    ViewBag.Title = Localization.Error;
}

<h1 class="text-danger">@Localization.Error</h1>
<div>
    <p>@Model.Exception.Message</p>
</div>

